.App {
  max-width: 100%;
  width: 100%;
}

.app-layout {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: 'Avenir', sans-serif;
}

.app-header {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  background-color: #202882;

}

.app-header h1 {
  font-weight: 800;
  font-size: 32px;
  width: 95%;
  color: white;
  margin: 1.5%;
  font-family: 'Avenir', sans-serif;
}


html, body {
  box-sizing: border-box;
  width: 100%;
  background: #eee;
  margin: 0;
  padding: 0;
}


